<!DOCTYPE html>

<%= stylesheet_link_tag "application", :media => "all" %>

  <head>
    <title>HappyBankApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="bottonframe">
        <%= yield :menubar %>
      </div>
      <h1 class="title">HAPPY BANK</h1>
    </header>
    <div class="wrap">
      <h2 class="pagetitle"><%= yield :pagetitle %></h1>
      <%= yield %>
    </div>
  </body>
</html>
